.about-section {
  padding: 60px 0;
}

.about-image {
  width: 100%; /* Ensure the image scales to the container's width */
  max-width: 300px; /* Set a max-width to control the image size */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Make the image circular */
  margin-bottom: 15px; /* Space between image and text on larger screens */
}

.about-text h2 {
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 15px;
}

/* Mobile styles */
@media (max-width: 767px) {
  .about-image {
    margin-bottom: 20px; /* Increased space between image and text on mobile */
  }
}
