.about-section {
  padding: 60px 0;
}

.about-image {
  width: 100%; /* Scales to the container's width */
  max-width: 220px; /* Adjust the width to control the image size */
  height: 220px; /* Set height to ensure the image remains a circle */
  border-radius: 50%; /* Make the image circular */
  margin-bottom: 15px; /* Space between image and text on larger screens */
}

.about-text h2 {
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 15px;
}

/* Mobile styles */
@media (max-width: 767px) {
  .about-image {
    margin-bottom: 20px; /* Increased space between image and text on mobile */
  }
}
