.contact-section {
  background-color: #f1f1f1; /* Match with the portfolio section background */
  padding: 60px 0;
}

.contact-text h2 {
  text-align: center;
  margin-bottom: 30px;
}

.contact-text p {
  text-align: center;
  margin-bottom: 15px;
}

.social-media {
  text-align: center;
  margin-top: 20px;
}

.social-icon {
  color: #007bff; /* Blue color for the icons */
  font-size: 24px;
  margin: 0 15px; /* Space between icons */
  text-decoration: none;
}

.social-icon:hover {
  color: #0056b3; /* Darker blue color on hover */
}
